<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReStudy"
        tools:targetApi="31">
        <activity
            android:name=".Manager.TransactionsManagerActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.PackagesManagerActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.UserManager"
            android:exported="false" />
        <activity
            android:name=".Manager.UserManagerActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.CategoryManagerActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Detail.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.ProductManagerActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DangNhap"
            android:exported="true" />
        <activity
            android:name=".ui.DangKy"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>